.navigation {
  background-color: white;

  border-bottom: 1px solid;
  border-color: #dedede;
}

.navigation .navbar {
  padding: 0 8px 0 !important;
}

.navigation__logo {
  padding: 0 15px !important;
  width: 150px;
  height: auto;
}

.navigation__logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.navigation .navbar-light .navbar-toggler {
  color: white;
  border-color: transparent;
}

.navigation .navbar-light .navbar-toggler:focus {
  outline: 0;
}

.navigation .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.5H24V8.33333H6V7.5ZM6 14.5833H24V15.4167H6V14.5833ZM6 21.6667H24V22.5H6V21.6667Z' stroke='black' stroke-opacity='0.5' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.navigation .navbar-toggler-icon--close {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.0417 8.7795L23.2204 6.95825L16 14.1787L8.77958 6.95825L6.95833 8.7795L14.1787 15.9999L6.95833 23.2203L8.77958 25.0416L16 17.8212L23.2204 25.0416L25.0417 23.2203L17.8212 15.9999L25.0417 8.7795Z' fill='black'/%3E%3C/svg%3E%0A");
}

.navigation a.nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  /* identical to box height */

  color: #000000 !important;

  margin: 0 15px !important;
  padding: 15px 0 10px 0 !important;
  border-bottom: 1px solid;
  border-color: transparent;

  transition: all 289ms ease-out;
}

.navigation a.nav-link:hover {
  border-color: #f2a900;
}

.navigation a.nav-link.active {
  border-color: #000;
}

.navigation__themeSwitch {
  padding: 12px 15px;
}

.navigation__themeSwitch img {
  width: 20px;
  height: 20px;
}
